<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.user.GroupMenuMapper">

    <insert id="insertSelectiveCustom" useGeneratedKeys="true" keyProperty="id" parameterType="com.example.demo.entity.user.GroupMenu">
        insert into m_group_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
            id,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="createUserId != null">
            create_user_id,
        </if>
        <if test="deleteTime != null">
            delete_time,
        </if>
        <if test="deleteUserId != null">
            delete_user_id,
        </if>
        <if test="isDelete != null">
            is_delete,
        </if>
        <if test="updateTime != null">
            update_time,
        </if>
        <if test="updateUserId != null">
            update_user_id,
        </if>
        <if test="groupId != null">
            group_id,
        </if>
        <if test="menuId != null">
            menu_id,
        </if>
        <if test="menuType != null">
            menu_type,
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
            #{id},
        </if>
        <if test="createTime != null">
            #{createTime},
        </if>
        <if test="createUserId != null">
            #{createUserId},
        </if>
        <if test="deleteTime != null">
            #{deleteTime},
        </if>
        <if test="deleteUserId != null">
            #{deleteUserId},
        </if>
        <if test="isDelete != null">
            #{isDelete},
        </if>
        <if test="updateTime != null">
            #{updateTime},
        </if>
        <if test="updateUserId != null">
            #{updateUserId},
        </if>
        <if test="groupId != null">
            #{groupId},
        </if>
        <if test="menuId != null">
            #{menuId},
        </if>
        <if test="menuType != null">
            #{menuType},
        </if>

        </trim>
    </insert>
</mapper>
