<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.MenuMapper">

    <insert id="insertSelectiveCustom" parameterType="com.example.demo.entity.Menu">
        insert into f_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
            id,
        </if>
        <if test="createTime != null">
            create_time,
        </if>
        <if test="createUserId != null">
            create_user_id,
        </if>
        <if test="deleteTime != null">
            delete_time,
        </if>
        <if test="deleteUserId != null">
            delete_user_id,
        </if>
        <if test="describes != null">
            describes,
        </if>
        <if test="isDelete != null">
            is_delete,
        </if>
        <if test="menuIcon != null">
            menu_icon,
        </if>
        <if test="menuIndex != null">
            menu_index,
        </if>
        <if test="menuUrl != null">
            menu_url,
        </if>
        <if test="name != null">
            name,
        </if>
        <if test="parentId != null">
            parent_id,
        </if>
        <if test="path != null">
            path,
        </if>
        <if test="type != null">
            type,
        </if>
        <if test="updateTime != null">
            update_time,
        </if>
        <if test="updateUserId != null">
            update_user_id,
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
            #{id},
        </if>
        <if test="createTime != null">
            #{createTime},
        </if>
        <if test="createUserId != null">
            #{createUserId},
        </if>
        <if test="deleteTime != null">
            #{deleteTime},
        </if>
        <if test="deleteUserId != null">
            #{deleteUserId},
        </if>
        <if test="describes != null">
            #{describes},
        </if>
        <if test="isDelete != null">
            #{isDelete},
        </if>
        <if test="menuIcon != null">
            #{menuIcon},
        </if>
        <if test="menuIndex != null">
            #{menuIndex},
        </if>
        <if test="menuUrl != null">
            #{menuUrl},
        </if>
        <if test="name != null">
            #{name},
        </if>
        <if test="parentId != null">
            #{parentId},
        </if>
        <if test="path != null">
            #{path},
        </if>
        <if test="type != null">
            #{type},
        </if>
        <if test="updateTime != null">
            #{updateTime},
        </if>
        <if test="updateUserId != null">
            #{updateUserId},
        </if>

        </trim>
    </insert>


    <select id="selectListIds" resultType="com.example.demo.entity.Menu">
        select * from f_menu where id in
        <foreach collection="menuIds" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>

    </select>

    <select id="selectMenuList" resultType="com.example.demo.entity.Menu">
        SELECT m.* FROM f_menu m LEFT JOIN m_role_menu rm ON rm.menuId = m.id  where rm.roleId=#{id}
    </select>
    <select id="selectByMenuList" resultType="com.example.demo.entity.Menu">
        select * from f_menu where id in
        <foreach collection="menuList" item="item" index="index" open="(" separator="," close=")">
            #{item.id}
        </foreach>

    </select>
</mapper>
